<a href="https://colab.research.google.com/github/daivik05/placement_training/blob/main/python_placement_d2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num= int(input("enter the primenumber"))
for i in range(2,num):
  if num%i==0:
    print("not prime")
    break
else:
  print("prime")

enter the primenumber3
prime

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)
factorial(5)

120

In [ ]:
num = int(input("Enter a number: "))
for i in range(1, 11):
  product = num * i
  print(f"{num} x {i} = {product}")

Enter a number: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
sum=0
num=int(input('enter the number'))
temp=num
while(num):
  i=1
  f=1
  r=num%10
  while(i<=r):
    f=f*i
    i=i+1
  sum=sum+f
  num=num//10
if(temp==sum):
  print("strong num")
else:
  print("no strong num")

enter the number56
no strong num

In [ ]:
num = int(input("Enter a number: "))
order= len(str(num))
sum=0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** order
   temp //= 10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

In [ ]:
num = int(input("Enter a number: "))
square = num * num
sum = 0
while square > 0:
  sum += square % 10
  square //= 10
if sum == num:
  print(num, "is a Neon number")
else:
  print(num, "is not a Neon number")

Enter a number: 9
9 is a Neon number

In [ ]:
num=int(input("enter the number"))
temp=num
sum=0
product=1
while(num>0):
  r=num%10
  sum=sum+r
  product=product*r
  num=num//10
if(sum==product):
  print("spy number")
else:
  print("not spy number")

enter the number1
spy number

In [ ]:
num=int(input("enter the number"))
temp=num
sum=0
while(num!=0):
  r=num%10
  sum=sum+r*r
  num=num//10
  print(sum)
if(temp==1):
  print("happy number")
else:
  print("not happy number")

enter the number19
81
82
not happy number

In [ ]:
num=int(input("enter the number"))
temp=num
while(temp!=1 and temp!=4):
  sum=0
  while(temp>0):
    r=temp%10
    sum=sum+r
    temp=temp//10
  temp=sum
if(temp==1):
  print("happy number")
else:
  print("not happy number")

enter the number19
happy number

In [ ]:
start = int(input("Enter the starting number: "))
end = int(input("Enter the ending number: "))
count=0
for num in range(start, end + 1):
  for i in range(2, num):
    if num % i == 0:
      break
  else:
    print(num, end=" ")
    count+=1
print(" ")
print("Total prime numbers between", start, "and", end, "are:", count)

Enter the starting number: 1
Enter the ending number: 10
1 2 3 5 7
Total prime numbers between 1 and 10 are: 5

In [ ]:
n=int(input("enter the number"))
fib1=0
fib2=1
print("fibonacci series of the given number is",n)
print(fib1,fib2,end=" ")
for i in range(2,n):
  fib3=fib1+fib2
  print(fib3,end=" ")
  fib1=fib2
  fib2=fib3

enter the number5
fibonacci series of the given number is 5
0 1 1 2 3

#1.Write a python program to find the 2 best of two average of 3 test marks accepted from the user
#2.Develop a python program to convert a binary number into  decimal,hexadecimal , octal using functions
#3.Define a function F as Fn = Fn-1 + Fn-2.write a python program which accepts a value for N (where N>0) as input and pass the value to the function .Display suitable error message if the condition for the input is not followed.
#4.write a python program to find string similarity between to similar strings
#5.Write a python program that accepts a sentence and finds the number of words , digits, uppercase letters and lower case letters
#6.
#*
#**
#***
#****
#*****

#7.
#    *
#   **
#  ***
# ****
#*****

#8.
#*****
# ****
#  ***
#   **
#    *


#9.
#*****
#*****
#*****
#*****
#*****

#10.
#1
#22
#333
#4444
#55555

#11.
#*****
#*   *
#*   *
#*   *
#*****

#12
#1 2 3 4
#5 6 7 8
#9 10 11 12
#13 14 15 16

#13.
#AAAAA
#AAAAA
#AAAAA
#AAAAA
#AAAAA



###1.see the number of rows and apply a loop for it.
###2.see the number of columns and apply a loop.
###3.check for any relationship b/w rows and columns.
###4.print the required character.
###5.check for where to print spaces.

In [ ]:
#Pattern1.py
n=int(input())
for i in range(0,n):
  for j in range(0,n):
    print("*",end=" ")
  print()

10
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
#Pattern2.py
n=int(input())
for i in range(0,5):
  for j in range(0,5):
    if(j<=i):
      print("*",end=" ")
  print()

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
#Pattern2.py
n=int(input())
for j in range(0,5):
  for i in range(0,5):
    if(j<=i):
      print("*",end=" ")
  print()

5
* * * * *
* * * *
* * *
* *
*

In [ ]:
#Pattern3.py
n=int(input())
for i in range(0,5):
  for j in range(0,5):
    if(j+i>n-1):
      print("*",end=" ")
    else:
      print(" ",end=" ")

  print()

5

        *
      * *
    * * *
  * * * *

In [ ]:
#Pattern4.py
n=int(input())
for i in range(0,5):
  for j in range(0,5):
    if(j>=i):
      print("*",end=" ")
    else:
      print(" ",end=" ")

  print()

5
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n):
    if(j<=i):
      print(i,end=" ")
  print()

5
0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n):
    if i==0 or i==n-1 or j==0 or j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

5
* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n):
    if i==0 or i==n-1 or j==0 or j==n-1 or i==j or i+j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

5
* * * * *
* *   * *
*   *   *
* *   * *
* * * * *

In [ ]:
n=int(input())
k=input()
for i in range(n):
  for j in range(n):
    print(k,end=" ")
  print()

5
qwerty
qwerty qwerty qwerty qwerty qwerty
qwerty qwerty qwerty qwerty qwerty
qwerty qwerty qwerty qwerty qwerty
qwerty qwerty qwerty qwerty qwerty
qwerty qwerty qwerty qwerty qwerty

In [ ]:
n=int(input())
k=1
for i in range(n):
  for j in range(n):
    print(k,end=" ")
    k=k+1
  print()

5
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [ ]:
num = int(input("Enter a number: "))
factorial = 1
if num<0:
    print("Sorry, factorial does not exist for negative numbers")
elif num==0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num + 1):
      factorial = factorial*i
print("The factorial of",num,"is",factorial)

Enter a number: 10
The factorial of 10 is 3628800

# **write a program to implement the logic to remove the character which are at the odd numbers of the index**

In [ ]:
s=input(" ")
a=" "
for i in range(len(s)):
  if i%2==0:
    a=a+s[i]
print(a)

 qwertyuiop
 qetuo

In [ ]:
#write aprogram to swap 2 number using a third variable
a=int(input("enter the number a="))
b=int(input("enter the number b="))
c=a
a=b
b=c
print("a=",a)
print("b=",b)

enter the number a=21324
enter the number b=1
a= 1
b= 21324

In [ ]:
a=int(input("enter the number a="))
b=int(input("enter the number b="))
a=a+b
b=a-b
a=a-b
print("a=",a)
print("b=",b)

enter the number a=5
enter the number b=10
a= 10
b= 5


1.   write a python program to find smallest number in a
2. count the number of occurances of a given item in the list
2.   write a program to count unique values in the list
3.   find out the duplicate removal list product using list comprehension
4. write a program to extract elements with frequency greater  than k
5.write a program to test if a list contains elements in the range
6.write a program  to demonstrate list intersection and
7. write a  program to mearge 2 sorted list into a single sorted list
8. find the largest subarray sum of a given list
9.write a program to partion a list around the given value such that all elements less than the given value come befor it and all elements greater than the given value come after it
10.**(Interview quesion)**find the peak elements int he list of integers, peak element is an elements that is grester than or equal to its neighbours

In [ ]:
#count the number of occurances of a given item in the list

num=int(input("enter the number"))
count=0
list=[100,20 ,10,10,10,30,40,50]
for i in list:
  if i==num:
    count+=1
print(count)

enter the number10
3

In [ ]:
#2. count the number of occurances of a given item in the list
list=[100,20 ,10,10,10,30,30,13,15,11,24,40,50]
count=0
unique_list=[]
for i in list:
  if i not in unique_list:
    unique_list.append(i)
    count+=1
print(count)
print(unique_list)

10
[100, 20, 10, 30, 13, 15, 11, 24, 40, 50]

In [ ]:
#find out the duplicate removal list product using list comprehension
def duplicate_removal(list):
  unique_list=[]
  for i in list:
    if i not in unique_list:
      unique_list.append(i)
  return unique_list
list=[100,20 ,10,10,10,30,30,13,15,11,24,40,50]
print(duplicate_removal(list))

[100, 20, 10, 30, 13, 15, 11, 24, 40, 50]

In [ ]:
def prod(val):
  res =1
  for ele in val:
    res=res*ele
  return prod
test_list=[1,2,3,4,5]
print("original list = "+ str(test_list))
res=[]
[res.append(x) for x in test_list if x not in res]
product=prod(res)
print("list after removing duplicates = "+ str(product))

original list = [1, 2, 3, 4, 5]
list after removing duplicates = <function prod at 0x7d332df87910>

In [ ]:
li=[8,9,8,9,8,8,5,5,4,5]
k=int(input("enter the number"))
count=0
new_list=[]
for i in li:
  freq=li.count(i)
  if freq>k and i not in new_list:

    new_list.append(i)
print(new_list)

enter the number2
[8, 5]

In [ ]:
#write a program to test if a list contains elements in the range
range1=int(input("enter the range1 =1"))
range2=int(input("enter the range2 ="))
list=[100,20 ,10,10,10,30,30,13,15,11,24,40,50,99,80]
for i in list:
  if i>=range1 and i<=range2:
    print(i)

enter the range1 =55
enter the range2 =100
100
99
80

In [ ]:
#intersection list
def list_intsec(lst1,lst2):
  return list(set(lst1) & set(lst2))

list1=[10,20,30,40]
list2=[20,10,50,60]

print("Intersection",list_intsec(list1,list2))

In [ ]:
i=j=0
while(i<len(list1) and j<len(list2)):
  if list1[i]<list2[j]:
    m.append(list1[i])
    i+=1
  else:
    m.append(list2[j])
    j+=1
m.append(list1[i:])
m.append(list2[j:])

NameError: name 'm' is not defined

In [ ]:
def partition_list(list,pivot):
  less_than =[x for x in list if x<pivot]
  greater_than=[x for x in list if x>pivot]
  equal_to=[x for x in list if x==pivot]
  return less_than+equal_to+greater_than
my_list =[3,1,4,1,5,9,2,6,5]
pivot_value =4
print("partitioned list :",partition_list(my_list,pivot_value))

partitioned list : [3, 1, 1, 2, 4, 5, 9, 6, 5]

In [ ]:
def largest_sub(list):
  max_sum = current_sum = list[0]
  for num in list[1:]:
    current_sum = max(num,current_sum+num)
    max_sum = max(max_sum,current_sum)
  return max_sum
mylist=[-2,1,-3,4,-1,2,1,-5,4]
print("largest subarray sum= ",largest_sub(mylist))

largest subarray sum=  6

In [ ]:
def find_peak_element(nums):
  if not nums:
    return None
  left,right=0,len(nums)-1
  while left<right:
    mid=(left+right)//2
    if nums[mid]<nums[mid+1]:
      left=mid+1
    else:
      right=mid
  return left
my_list=[1,2,1,3,5,6,4]
print("peak element index = ",find_peak_element(my_list))

peak element index =  5

In [ ]:
def createtuple():
    tup1=(1,2,3,4,5)
    tup2=('a','b','c','d','e')
    tup3=('apple','banana','cherry')

    return tup1, tup2, tup3


def accesstuple(tup1,tup2):
    print('tuple 1',tup1)
    print('first element of tup1 ',tup1[0])
    print('last element of tup1 ',tup1[-1])
    print('tuple 2 ',tup2)
    print('second element of tup2 ',tup2[1])
    print('second last element of tuple 2',tup2[-2])
    print(tup1[0:5])


def unapcktup(fruits):
    fruits=('apple','banana','cherry','strawberry','raspberrry')

    (green,yellow,*red)=fruits
    print(green)
    print(yellow)
    print(red)


def changetuple(tup1,tup2):
    list1=list(tup1)
    list2=list(tup2)
    list1.append(6)
    list2.remove('c')
    tup1=tuple(list1)
    tup2=tuple(list2)
    return tup1,tup2

def loopthroughtuple(tup1):
    print('looping through tuple 1 using for loop')
    for item in tup1:
        print(item)

    print('\nlooping using while loop and index numbers')
    index=0
    while index<len(tup1):
        print(tup1|[index])
        index+=1


def jointuple(tup1,tup2):
    tup3=tup1+tup2
    return tup3

tup1,tup2,tup3=createtuple()
accesstuple(tup1,tup2)
print()

unapcktup(tup3)
print()

fruits=('apple','banana','cherry','strawberry','raspberrry')
unapcktup(fruits)
print()

tup1,tup2=changetuple(tup1,tup2)
print('after making change')
accesstuple(tup1,tup2)
print()

tup3=jointuple(tup1,tup1)
print('joint tuple',tup3)

tuple 1 (1, 2, 3, 4, 5)
first element of tup1  1
last element of tup1  5
tuple 2  ('a', 'b', 'c', 'd', 'e')
second element of tup2  b
second last element of tuple 2 d
(1, 2, 3, 4, 5)

apple
banana
['cherry', 'strawberry', 'raspberrry']

apple
banana
['cherry', 'strawberry', 'raspberrry']

after making change
tuple 1 (1, 2, 3, 4, 5, 6)
first element of tup1  1
last element of tup1  6
tuple 2  ('a', 'b', 'd', 'e')
second element of tup2  b
second last element of tuple 2 d
(1, 2, 3, 4, 5)

joint tuple (1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [ ]:
mytup=(1,2,3)
anothertup=tuple([4,5,6])
print(mytup[0])
print(mytup[-1])
print(mytup[1:3])
combinedtup=mytup+anothertup
print(combinedtup)
repeated_tuple=mytup*3
print(repeated_tuple)
print(2 in mytup)
print(4 not in mytup)
print(len(mytup))
for item in mytup:
    print(item)

stringtotup=tuple('hello')
print(stringtotup)
listtotup=tuple([1,2,3])
print(listtotup)
print(mytup.count(2))
print(mytup.index(3))

1
3
(2, 3)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
True
True
3
1
2
3
('h', 'e', 'l', 'l', 'o')
(1, 2, 3)
1
2

In [ ]:
tuples_of_tuples=((1,'apple'),(3,'orange'),(2,'banana'))
sorted_tuples=sorted(tuples_of_tuples,key=lambda x:x[1])
print("Squares tuple:",sorted_tuples)

Squares tuple: [(1, 'apple'), (2, 'banana'), (3, 'orange')]

In [ ]:
tupleoftuple=((1,'apple'),(3,'orsnge'),(2,'banana'))
sortedtuple=sorted(tupleoftuple,key=lambda x:x[1])
print('sorted tuples',sortedtuple)

sorted tuples [(1, 'apple'), (2, 'banana'), (3, 'orsnge')]

In [ ]:
list1 = [1,2,3]
list2 = ['a','b','c']
zipped_tuple=tuple(zip(list1,list2))
print(zipped_tuple)

((1, 'a'), (2, 'b'), (3, 'c'))

In [ ]:
from collections import namedtuple
import math

point=namedtuple('Point',['x','y'])

point1=point(1,2)
point2=point(4,6)

distance=math.sqrt((point2.x-point1.x)**2+(point2.y-point1.y)**2)

print("distance between point 1 and point 2:",distance)

distance between point 1 and point 2: 5.0

In [ ]:
original_tuple=(1,2,3,4,5)
filtered_tuple=tuple(filter(lambda x: x%2==0,original_tuple))
print("Filtered tuple:",filtered_tuple)

Filtered tuple: (2, 4)

In [ ]:
from functools import reduce

def add(x,y):
    return x+y

original=(1,2,3,4,5)

result=reduce(add,original)
print("result of reducing the  tuple:", result)

result of reducing the  tuple: 15

In [ ]:
from functools import reduce

def add(x,y):
    return x+y

origtup=(1,2,3,4,5)
result=reduce(add,originaltup)
print('result of reducing the tuple ',result)

NameError: name 'originaltup' is not defined

In [ ]:
#add
set={"apple","banana","cherry"}
set.add("orange")
print(set)
print("after add :",set)

#update
set={"apple","banana","cherry"}
tropical={"pineapple","mango","papaya"}
set.update(tropical)
print("after update:",set)

{'apple', 'orange', 'banana', 'cherry'}
after add : {'apple', 'orange', 'banana', 'cherry'}
after update: {'apple', 'pineapple', 'mango', 'papaya', 'banana', 'cherry'}

In [ ]:
def power_set(s):
    result=[[]]
    for elem in s:
        result.extend([subset+[elem] for subset in result])
    return[set(subset) for subset in result]

input_set={1,2,3}
powerset=power_set(input_set)
print("power set:",powerset)

TypeError: 'set' object is not callable

In [ ]:
thisdict={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
thisdict2=dict(name="John",age=36,country="Norway")
print(thisdict)
my_dict={}
my_dict['name']=''

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [ ]:
my_dict11 = {"name": "Ford", "model": "Mustang", "year": 1964}
my_dict22 = dict(name="john", age=36, country="India")
print(my_dict11)

# Creating an empty dictionary
my_dict = {}

# Adding key and value to the dictionary
my_dict["name"] = "alice"
my_dict["age"] = 30
my_dict["city"] = "new york"

print("Initial dictionary:", my_dict)

# Accessing the values
print("name:", my_dict["name"])
print("Age:", my_dict["age"])

x = my_dict.keys()
print(x)

y = my_dict.values()
print(y)

z = my_dict.items()
print(z)

m = my_dict.get("city")
print(m)

for x in my_dict:
    print(x)
for x in my_dict:
    print(my_dict[x])
print("keys:")
for key in my_dict.keys():
    print(key)
print("values:")
for value in my_dict.values():
    print(value)
print("key-value pairs:")
for key, value in my_dict.items():
    print(key, ":", value)

if 'name' in my_dict:
    print("'name' exists in dictionary")
else:
    print("'name' does not exist in dictionary")

my_dict['age'] = 35
print("Modified age:", my_dict['age'])

my_dict.update({"age": 45})
my_dict["color1"] = "fair"
print(my_dict)

my_dict.update({"color2": "dark"})
print(my_dict)

removed_value = my_dict.pop('city')
print(removed_value)
print(my_dict)

my_dict.popitem()
print(my_dict)

my_dict.clear()
print("Dictionary after clear:", my_dict)

del my_dict

{'name': 'Ford', 'model': 'Mustang', 'year': 1964}
Initial dictionary: {'name': 'alice', 'age': 30, 'city': 'new york'}
name: alice
Age: 30
dict_keys(['name', 'age', 'city'])
dict_values(['alice', 30, 'new york'])
dict_items([('name', 'alice'), ('age', 30), ('city', 'new york')])
new york
name
age
city
alice
30
new york
keys:
name
age
city
values:
alice
30
new york
key-value pairs:
name : alice
age : 30
city : new york
'name' exists in dictionary
Modified age: 35
{'name': 'alice', 'age': 45, 'city': 'new york', 'color1': 'fair'}
{'name': 'alice', 'age': 45, 'city': 'new york', 'color1': 'fair', 'color2': 'dark'}
new york
{'name': 'alice', 'age': 45, 'color1': 'fair', 'color2': 'dark'}
{'name': 'alice', 'age': 45, 'color1': 'fair'}
Dictionary after clear: {}

In [ ]:
myfamily={
    "child1":{
        "name":"john",
        "year":2004
    },
    "child2":{
        "name":"mary",
        "year":2007
    },
    "child3":{
        "name":"peter",
        "year":2011
    }
}
print(myfamily)
print(myfamily["child2"]["name"])
for x,obj in myfamily.items():
    print(x)
    for y in obj:
        print(y + ':',obj[y])

{'child1': {'name': 'john', 'year': 2004}, 'child2': {'name': 'mary', 'year': 2007}, 'child3': {'name': 'peter', 'year': 2011}}
mary
child1
name: john
year: 2004
child2
name: mary
year: 2007
child3
name: peter
year: 2011

In [ ]:
input_string = input("Enter the string")
print("length of string",len(input_string))
print("uppercase:", input_string.upper())
print(input_string.isupper())
print("lowercase:", input_string.lower())
print(input_string.islower())
print("capitalized:", input_string.capitalize())
print("title:", input_string.title())
substring=input("enter the substring")
print("occurances of ",substring,"in string",input_string.count(substring))
prefix = input("enter the prefix")
print("starts with",prefix,":",input_string.startswith(prefix))
suffix = input("enter the suffix")
print("ends with",suffix,":",input_string.endswith(suffix))
old_substring=input("enter the old substring")
new_substring=input("enter the new substring")
print("replaced string:",input_string.replace(old_substring,new_substring))
delimiter=input("enter the delimiter")
print("splitted string:",input_string.split(delimiter))
substrings=input("enter the substring")
join_delimitter = input("enter the join delimiter")
print("joined string:",join_delimitter.join(substrings))

Enter the stringqwertyu
length of string 7
uppercase: QWERTYU
False
lowercase: qwertyu
True
capitalized: Qwertyu
title: Qwertyu
enter the substringq
occurances of  q in string 1
enter the prefixqwe
starts with qwe : True
enter the suffixrty
ends with rty : False
enter the old substringqwe
enter the new substringfuck
replaced string: fuckrtyu
enter the delimiterty
splitted string: ['qwer', 'u']
enter the substringqwer
enter the join delimiterty
joined string: qtywtyetyr

In [ ]:
age=36
name = input()
print(f"my name is {name} and my age is {age}")

Latish
my name is Latish and my age is 36

In [ ]:
def string_reverse(str):
  rstr =''
  i=len(str)
  while i>0:
    rstr+=str[i-1]
    i=i-1
  return rstr
input_string=input("enter the string")
reversed_sring = string_reverse(input_string)
print("reversed string:",string_reverse(input_string))

enter the stringqwerty
reversed string: ytrewq

In [ ]:
def myfun(x,y=50):
  print("x=",x)
  print("y=",y)
myfun(10)
myfun(100,20)

x= 10
y= 50
x= 100
y= 20

In [ ]:
def student(firstname,lastname):
  print(firstname,lastname)
student(firstname="john",lastname="doe")
student(lastname="doe",firstname="john")

john doe
john doe

In [ ]:
def myfun1(*argv):
  print(argv)
myfun1('Hello','wecome','to','India')

('Hello', 'wecome', 'to', 'India')

In [ ]:
def pp(**gg):
  print(gg)
pp(a='hello',b='yo')

{'a': 'hello', 'b': 'yo'}

In [ ]:
def cube(x):
  return x**3
cube_v2=lambda x:x*x*x
print(cube(3))
print(cube_v2(3))

27
27

In [ ]:
def power(n,p):
  if p==0:
    return 1
  else:
    return n*power(n,p-1)
n = 5
p=2
print(power(n,p))

25

In [ ]:
def print_patter(n,m):
  if n==0:
    return
  for i in range(5,m-1,-1):
    print(i,end=' ')
  print()
  print_patter(n-1,m+1)
n=5
print_patter(n,1)

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
#convert a decimal number to binary
def decimal_to_binary(n):
  if n>1:
    decimal_to_binary(n//2)
  print(n%2,end='')
n = int(input("enter the number"))
decimal_to_binary(n)

enter the number22
10110

In [ ]:
def dtb(d):
  if d==0:
    return "0"
  b = " "
  while d>0:
    b=str(d%2)+b
    d=d//2
  return b
d = int(input("enter the number"))
b=dtb(d)
print("binary rep:",b)

enter the number10
binary rep: 1010

In [ ]:
#any other num to dec num
def any_base_to_dec(n,b):
  dec=int(n,b)
  print(dec)
hex_num ='1A'
b = 16
any_base_to_dec(hex_num,b)

26

In [ ]:
def power(N,P):
  if P==0:
    return 1
  else:
    return N*power(N,P-1)
N=5
P=2
print(power(N,P))

25

In [ ]:
def power(N,P):
  if P==0:
    return N
  temp=pow(N,P/2)
  return temp*temp
N=5
P=10
print(power(N,P))

9765625.0

In [ ]:
#given an array of n numbers and annther number x the task is to check weather or not there exists two elemenys in the array whose exact sum is x
def findpair(a,n,x):
  for i in range(n):
    for j in range(n):
      if(i !=j and a[i]+a[j]==x):
        return True
  return False
arr=[1.-1,2,4,8]
x = 0
n=len(arr)
if (findpair(arr,n,x)):
  print("True")
else:
  print("False")

False

In [ ]:
# given an array of n number & another number x,the task is to check weather or not there exist 2 element in the array,whos exast sum is x

a=[1,1,2,4,8,-2]
x=2
def in_sum(a,x):
    pair=[]
    for i in range(0,len(a)):
        for j in range(0,len(a)):
            if a[i]+a[j]==x and i!=j:
                pair.append([a[i],a[j]])
    return pair
print(in_sum(a,x))


#now the better timecomplexity

a=[1,-2,1,0,2]
x=0

a.sort()
print(a)

def pair_sum(a,x):
    l=0
    r=len(a)-1
    pair=[]
    while(l<r):
        if a[l]+a[r]==x:
            pair.append([a[l],a[r]])
            return True
        elif a[l]+a[r]>x:
            r=r-1
        elif a[l]+a[r]<x:
            l=l+1
    return False


print(pair_sum(a,x))

[[1, 1], [1, 1], [4, -2], [-2, 4]]
[-2, 0, 1, 1, 2]
True

CONSTANT O(1) - EXCELLENT/BEST
O()

In [ ]:
#bbinay search
def binary_search(arr,target):
  left,right=0,len(arr)-1
  while left<=right:
    mid=(left+right)//2
    if arr[mid]==target:
      return mid
    elif arr[mid]<target:
      left=mid+1
    else:
      right=mid-1
  return -1
arr=[1,2,3,4,5,6,7,8,9,10]
target=5
result=binary_search(arr,target)
if result!=-1:
  print("element found at index",result)
else:
  print("element not found")

element found at index 4

In [ ]:
def binary_search_recurssive(arr,target,left,right):
  if left>right:
    return -1
  mid=(left+right)//2
  if arr[mid]==target:
    return mid
  elif arr[mid]<target:
    return binary_search_recurssive(arr,target,mid+1,right)
  else:
    return binary_search_recurssive(arr,target,left,mid-1)
arr=[1,2,3,4,5,6,7,8,9,10]
target=5
result=binary_search_recurssive(arr,target,0,len(arr)-1)
if result!=-1:
  print("element found at index",result)
else:
  print("element not found")

element found at index 4

In [ ]:
def linear_search(arr,target):
  for i in range(len(arr)):
    if arr[i]==target:
      return i
  return -1
arr=[4,2,3,1,5,6,7,10,9,8]
target=9
result=linear_search(arr,target)
if result!=-1:
  print("element found at index",result)
else:
  print("element not found")

element found at index 8

In [ ]:
#bubble sort
def bubble_sort(arr):
  n=len(arr)
  for i in range(n-1):
    for j in range(0,n-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]
arr=[64,34,25,12,22,11,90]
bubble_sort(arr)
print("sorted array:",arr)

sorted array: [11, 12, 22, 25, 34, 64, 90]

In [ ]:
class Person(object):
  def __init__(self,name,id):
    self.name=name
    self.id=id
  def display(self):
    print(self.name,self.id)
  def details(self):
    print("name:",self.name)
    print("id:",self.id)
class Employee(Person):
  def __init__(self,name,id,salary,post):
    self.salary=salary
    self.post=post
    Person. __init__(self,name,id)
  def display(self):
    print("name{}".format(self.name))
    print("id{}".format(self.id))
    print("My salary{}".format(self.salary))
    print("post{}".format(self.post))
a = Employee("john",1,10000,"manager")
a.display()
a.details()

namejohn
id1
My salary10000
postmanager
name: john
id: 1

In [2]:
class MyCustomException(Exception):
  def __init__(self,message):
    self.message=message
try:
  raise MyCustomException("something went wrong")
except MyCustomException as e:
  print(e.message)

something went wrong

In [6]:
def access_list_element(lst,index):
  try:
    value=lst[index]
    print('value at index',index ,'is:', value)
  except IndexError as e:
    print('index out of range')

my_list=[1,2,3]
index=int(input("enter the index"))
access_list_element(my_list,index)

enter the index0
value at index 0 is: 1

In [7]:
try:
  file=open("test.txt","r")
  content = file.read()
  file.close()
except FileNotFoundError:
  print("file not found")

file not found

In [14]:
def access_dictionary_value(dictionary,key):
  try:
    value=dictionary[key]
    print('value at key',key ,'is:', value)
  except KeyError as e:
    print('key not found')

my_dict={'a':1,'b':2,'c':3}
key=input("enter the key =")
access_dictionary_value(my_dict,key)

enter the key =a
value at key a is: 1

In [15]:
#program to find upper case and lower case letters in a sentence
input=input(" Enter hte string=")
upper_case=0
lower_case=0
for i in input:
  if i.isupper():
    upper_case+=1
  elif i.islower():
    lower_case+=1
print("upper case:",upper_case)
print("lower case:",lower_case)

 Enter hte string=SDRYFUhgdurejkjghTWSYKTDHG
upper case: 15
lower case: 11

In [22]:
import string
sentence=input("Enter the sentence")
wordList=sentence.strip().split(" ")
print(f'this sentence has{len(wordList)}word',end="\n\n")
digit_count=uppercase_count=lowercase_count=0
for character in sentence:
    if character in string.digits:
        digit_count+=1
    elif character in string.ascii_uppercase:
        uppercase_count+=1
    elif character in string.ascii_lowercase:
        lowercase_count+=1
print(f'sentence has {digit_count} digits',
      f'{uppercase_count} upper case letters',
    f'{lowercase_count} lower case letters',sep='\n')

TypeError: 'str' object is not callable

In [24]:
#given am array of integers and an number k finf the count of disticnt elements ib every window of size k in th array
def count_distinct_in_windows(arr,k):
  result=[]
  for i in range(n-k+1):
    window=arr[i:i+k]
    distinct_count=len(set(window))
    result.append(distinct_count)
  return result
n=int(input("enter the number of elements"))
arr=[]
for _ in range(n):
  arr.append(int(input()))
k=int(input("enter the window size"))
result=count_distinct_in_windows(arr,n,k)
for count in result:
  print(count,end="\t ")

TypeError: 'str' object is not callable

In [26]:
#an equillibrium index is an index such that the sum of elements t lower indeces is equal to sum of elementa at higher indeces
#[-7 ,1]    output= 3
def equilibrium_index(arr):
  n=len(arr)
  for i in range(1,n-1):
      lsum=sum(arr[:i])
      rsum = sum(arr[i+1:])
      if lsum==rsum:
        return i
  return -1
arr=[-7,1,5,2,-4,3,0]
print("equillibrium index:",equilibrium_index(arr))

equillibrium index: 3

In [27]:
# u are given nxn grid where accounts of i and j is the amount of money the ith customers has in jth bank.the customers will is the amount of money they have in all of their bank acc
#the richest customer is the customer that has the maximum wealth
def find_richest_customer(accounts):
    max_wealth=0
    for cus in accounts:
        wealth=sum(cus)
        if wealth > max_wealth:
            max_wealth=wealth
    return max_wealth

if __name__=="__main__":
    m=int(input("Enter the number of customer"))
    n=int(input("enter number of banks"))

    account=[]
    for i in range(m):
        print("enter wealth for customer {} in {} banks".format(i+1,n))
        customer_wealth=list(map(int,input().split()))
        account.append(customer_wealth)
    print(find_richest_customer(account))

TypeError: 'str' object is not callable

In [31]:
#given an array of size n-1 such that it only contains disttinct integers int he range of 1 to n find the missing elements input n= 10 and array =[6, 1 2 , 8 3 4 7 10 5]
def find_missing_number(N,arr):
  total_sum = (N*(N+1))//2
  missing_number=total_sum - sum_of_elements
  return missing_number

if __name__ =="__main__":
  N= int(input())
  arr = list(map(int,input().split()))
  print(find_missing_number(N,arr))

TypeError: 'str' object is not callable

In [40]:
import random
def generate_randon_number(low,high):
  return random.randint(low,high)
def check_guess(secret_number,guess):
  if guess<secret_number:
    return "too low"
  elif guess>secret_number:
    return "too high"
  else:
    return "correct"
def main():
  low=1
  high=100
  secret_number=generate_randon_number(low,high)
  print(f"guess the nymber betwen {low} and {high}.")
  guesses = 0
  while True:
    guess=int(input("enter the number"))
    result=check_guess(secret_number,guess)
    print(result)
    guesses+=1
    if result=="correct":
      print(f"you guessed the number in {guesses} guesses")
      break
if __name__=="__main__":
  main()

guessess the nymber betwen 1 and 100.

TypeError: 'str' object is not callable

In [2]:
import random

def demonstrate_random_module():
    print("random module demonstration")

    print("random.random():")
    print(random.random())

    print("random.randrange(1,10,2):")
    print(random.radrange(1,10,2))

    my_list=[1,2,3,4,5]
    print("random.choice([1,2,3,4,5])")
    print(random.choice(my_list))

    print("random.choice([1,2,3,4,5],k=3):")
    print(random.choices(my_list,k=3))

    print("random.sample([1,2,3,4,5],k=3)")
    print(random.sample(my_list,k=3))