<a href="https://colab.research.google.com/github/daivik05/placement_training/blob/main/python_placement_d2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num= int(input("enter the marks"))
if num  num/num==1:
    print ("its prime")
else:
    print("not prime")

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)
factorial(5)

120

In [ ]:
num = int(input("Enter a number: "))
for i in range(1, 11):
  product = num * i
  print(f"{num} x {i} = {product}")

Enter a number: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
sum=0
num=int(input('enter the number'))
temp=num
while(num):
  i=1
  f=1
  r=num%10
  while(i<=r):
    f=f*i
    i=i+1
  sum=sum+f
  num=num//10
if(temp==sum):
  print("strong num")
else:
  print("no strong num")

enter the number56
no strong num

In [ ]:
num = int(input("Enter a number: "))
order= len(str(num))
sum=0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** order
   temp //= 10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

In [ ]:
num = int(input("Enter a number: "))
square = num * num
sum = 0
while square > 0:
  sum += square % 10
  square //= 10
if sum == num:
  print(num, "is a Neon number")
else:
  print(num, "is not a Neon number")

Enter a number: 9
9 is a Neon number

In [ ]:
num=int(input("enter the number"))
temp=num
sum=0
product=1
while(num>0):
  r=num%10
  sum=sum+r
  product=product*r
  num=num//10
if(sum==product):
  print("spy number")
else:
  print("not spy number")

enter the number1
spy number

In [ ]:
num=int(input("enter the number"))
temp=num
sum=0
while(num!=0):
  r=num%10
  sum=sum+r*r
  num=num//10
  print(sum)
if(temp==1):
  print("happy number")
else:
  print("not happy number")

enter the number19
81
82
not happy number

In [ ]:
num=int(input("enter the number"))
temp=num
while(temp!=1 and temp!=4):
  sum=0
  while(temp>0):
    r=temp%10
    sum=sum+r
    temp=temp//10
  temp=sum
if(temp==1):
  print("happy number")
else:
  print("not happy number")

enter the number19
happy number

In [ ]:
start = int(input("Enter the starting number: "))
end = int(input("Enter the ending number: "))
count=0
for num in range(start, end + 1):
  for i in range(2, num):
    if num % i == 0:
      break
  else:
    print(num, end=" ")
    count+=1
print(" ")
print("Total prime numbers between", start, "and", end, "are:", count)

Enter the starting number: 1
Enter the ending number: 10
1 2 3 5 7
Total prime numbers between 1 and 10 are: 5

In [ ]:
n=int(input("enter the number"))
fib1=0
fib2=1
print("fibonacci series of the given number is",n)
print(fib1,fib2,end=" ")
for i in range(2,n):
  fib3=fib1+fib2
  print(fib3,end=" ")
  fib1=fib2
  fib2=fib3

enter the number5
fibonacci series of the given number is 5
0 1 1 2 3

#1.Write a python program to find the 2 best of two average of 3 test marks accepted from the user
#2.Develop a python program to convert a binary number into  decimal,hexadecimal , octal using functions
#3.Define a function F as Fn = Fn-1 + Fn-2.write a python program which accepts a value for N (where N>0) as input and pass the value to the function .Display suitable error message if the condition for the input is not followed.
#4.write a python program to find string similarity between to similar strings
#5.Write a python program that accepts a sentence and finds the number of words , digits, uppercase letters and lower case letters
#6.
#*
#**
#***
#****
#*****

#7.
#    *
#   **
#  ***
# ****
#*****

#8.
#*****
# ****
#  ***
#   **
#    *


#9.
#*****
#*****
#*****
#*****
#*****

#10.
#1
#22
#333
#4444
#55555

#11.
#*****
#*   *
#*   *
#*   *
#*****

#12
#1 2 3 4
#5 6 7 8
#9 10 11 12
#13 14 15 16

#13.
#AAAAA
#AAAAA
#AAAAA
#AAAAA
#AAAAA



###1.see the number of rows and apply a loop for it.
###2.see the number of columns and apply a loop.
###3.check for any relationship b/w rows and columns.
###4.print the required character.
###5.check for where to print spaces.

In [ ]:
#Pattern1.py
n=int(input())
for i in range(0,n):
  for j in range(0,n):
    print("*",end=" ")
  print()

10
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
#Pattern2.py
n=int(input())
for i in range(0,5):
  for j in range(0,5):
    if(j<=i):
      print("*",end=" ")
  print()

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
#Pattern2.py
n=int(input())
for j in range(0,5):
  for i in range(0,5):
    if(j<=i):
      print("*",end=" ")
  print()

5
* * * * *
* * * *
* * *
* *
*

In [ ]:
#Pattern3.py
n=int(input())
for i in range(0,5):
  for j in range(0,5):
    if(j+i>n-1):
      print("*",end=" ")
    else:
      print(" ",end=" ")

  print()

5

        *
      * *
    * * *
  * * * *

In [ ]:
#Pattern4.py
n=int(input())
for i in range(0,5):
  for j in range(0,5):
    if(j>=i):
      print("*",end=" ")
    else:
      print(" ",end=" ")

  print()

5
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n):
    if(j<=i):
      print(i,end=" ")
  print()

5
0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n):
    if i==0 or i==n-1 or j==0 or j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

5
* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n):
    if i==0 or i==n-1 or j==0 or j==n-1 or i==j or i+j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

5
* * * * *
* *   * *
*   *   *
* *   * *
* * * * *

In [ ]:
n=int(input())
k=input()
for i in range(n):
  for j in range(n):
    print(k,end=" ")
  print()

5
qwerty
qwerty qwerty qwerty qwerty qwerty
qwerty qwerty qwerty qwerty qwerty
qwerty qwerty qwerty qwerty qwerty
qwerty qwerty qwerty qwerty qwerty
qwerty qwerty qwerty qwerty qwerty

In [ ]:
n=int(input())
k=1
for i in range(n):
  for j in range(n):
    print(k,end=" ")
    k=k+1
  print()

5
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [ ]:
num = int(input("Enter a number: "))
factorial = 1
if num<0:
    print("Sorry, factorial does not exist for negative numbers")
elif num==0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num + 1):
      factorial = factorial*i
print("The factorial of",num,"is",factorial)

Enter a number: 10
The factorial of 10 is 3628800

# **write a program to implement the logic to remove the character which are at the odd numbers of the index**

In [ ]:
s=input(" ")
a=" "
for i in range(len(s)):
  if i%2==0:
    a=a+s[i]
print(a)

 qwertyuiop
 qetuo

In [ ]:
#write aprogram to swap 2 number using a third variable
a=int(input("enter the number a="))
b=int(input("enter the number b="))
c=a
a=b
b=c
print("a=",a)
print("b=",b)

enter the number a=21324
enter the number b=1
a= 1
b= 21324

In [ ]:
a=int(input("enter the number a="))
b=int(input("enter the number b="))
a=a+b
b=a-b
a=a-b
print("a=",a)
print("b=",b)

enter the number a=5
enter the number b=10
a= 10
b= 5


1.   write a python program to find smallest number in a
2. count the number of occurances of a given item in the list
2.   write a program to count unique values in the list
3.   find out the duplicate removal list product using list comprehension
4. write a program to extract elements with frequency greater  than k
5.write a program to test if a list contains elements in the range
6.write a program  to demonstrate list intersection and
7. write a  program to mearge 2 sorted list into a single sorted list
8. find the largest subarray sum of a given list
9.write a program to partion a list around the given value such that all elements less than the given value come befor it and all elements greater than the given value come after it
10.**(Interview quesion)**find the peak elements int he list of integers, peak element is an elements that is grester than or equal to its neighbours

In [ ]:
#count the number of occurances of a given item in the list

num=int(input("enter the number"))
count=0
list=[100,20 ,10,10,10,30,40,50]
for i in list:
  if i==num:
    count+=1
print(count)

enter the number10
3

In [ ]:
#2. count the number of occurances of a given item in the list
list=[100,20 ,10,10,10,30,30,13,15,11,24,40,50]
count=0
unique_list=[]
for i in list:
  if i not in unique_list:
    unique_list.append(i)
    count+=1
print(count)
print(unique_list)

10
[100, 20, 10, 30, 13, 15, 11, 24, 40, 50]

In [ ]:
#find out the duplicate removal list product using list comprehension
def duplicate_removal(list):
  unique_list=[]
  for i in list:
    if i not in unique_list:
      unique_list.append(i)
  return unique_list
list=[100,20 ,10,10,10,30,30,13,15,11,24,40,50]
print(duplicate_removal(list))

[100, 20, 10, 30, 13, 15, 11, 24, 40, 50]

In [ ]:
def prod(val):
  res =1
  for ele in val:
    res=res*ele
  return prod
test_list=[1,2,3,4,5]
print("original list = "+ str(test_list))
res=[]
[res.append(x) for x in test_list if x not in res]
product=prod(res)
print("list after removing duplicates = "+ str(product))

original list = [1, 2, 3, 4, 5]
list after removing duplicates = <function prod at 0x7d332df87910>

In [ ]:
li=[8,9,8,9,8,8,5,5,4,5]
k=int(input("enter the number"))
count=0
new_list=[]
for i in li:
  freq=li.count(i)
  if freq>k and i not in new_list:

    new_list.append(i)
print(new_list)

enter the number2
[8, 5]

In [ ]:
#write a program to test if a list contains elements in the range
range1=int(input("enter the range1 =1"))
range2=int(input("enter the range2 ="))
list=[100,20 ,10,10,10,30,30,13,15,11,24,40,50,99,80]
for i in list:
  if i>=range1 and i<=range2:
    print(i)

enter the range1 =55
enter the range2 =100
100
99
80

In [ ]:
#intersection list
def list_intsec(lst1,lst2):
  return list(set(lst1) & set(lst2))

list1=[10,20,30,40]
list2=[20,10,50,60]

print("Intersection",list_intsec(list1,list2))

In [50]:
i=j=0
while(i<len(list1) and j<len(list2)):
  if list1[i]<list2[j]:
    m.append(list1[i])
    i+=1
  else:
    m.append(list2[j])
    j+=1
m.append(list1[i:])
m.append(list2[j:])

NameError: name 'm' is not defined

In [1]:
def partition_list(list,pivot):
  less_than =[x for x in list if x<pivot]
  greater_than=[x for x in list if x>pivot]
  equal_to=[x for x in list if x==pivot]
  return less_than+equal_to+greater_than
my_list =[3,1,4,1,5,9,2,6,5]
pivot_value =4
print("partitioned list :",partition_list(my_list,pivot_value))

partitioned list : [3, 1, 1, 2, 4, 5, 9, 6, 5]